extends layout
block content
		h1= title
		form(id="frmProjectProfile", method="post", action="")
			label(for="ProjectName") Full name
			input(type="text", name="ProjectName", id="ProjectName")
			input(type="submit", value="#{buttonText}")